<div class="container">
  <div class="row">
    <div class="col-md-2 mx-auto">
      Welcome to my site
    </div>
  </div>

  <div class="row ml-4">
    <div class="col">
      <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Your Name">
</div>
<div class="form-group">
      <label for="comment">Comment</label>
      <input type="text" class="form-control" id="comment" placeholder="Your Comment">
</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" onclick="postComment()">Submit Comment</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Comments</h2>
        <div id="commentDiv">
        </div>
    </div>
  </div>

</div>