<div class="container">
  <div class="row">
    <div class="col">
      Welcome
    </div>
  </div>

  <div class="row">
    <div class="col">

      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Your Name">

      <label for="comment">Comment</label>
      <input type="text" class="form-control" id="comment" placeholder="Your Comment">

    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" onclick="postComment()">Submit Comment</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Comments</h2>
        <div id="commentDiv">
        </div>
    </div>
  </div>

</div>